body {
    background-color: #f4f4f4;
    height: 3000px;

}

/* 顶部导航条 */

/* 定位处颜色变化 */
.areaRed {
    background-color: red;
    color: #fff;
}

.downList01 .areaRed:hover {
    background-color: red;
    color: #fff;
}

header {
    /* overflow: auto ; */
    height: 30px;
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
}

nav {
    /* 所有的宽度限定 */
    width: 990px;
    margin: 0 auto;
    position: relative;
}

header nav,
header nav a {
    width: 990px;
    height: 30px;
    position: relative;
    margin: 0 auto;
    font-size: 12px;
    color: #999;
}


.leftPart {
    float: left;
    line-height: 30px;
    padding: 0 5px;
    border-top: #e3e4e5 1px solid;
    border-left: #e3e4e5 1px solid;
    border-right: #e3e4e5 1px solid;
    z-index: 9;
}

.rightPart {
    float: right;
}

.rightPart li {
    float: left;
    line-height: 30px;
    position: relative;
}

.rightPart .nopos {
    position: static;
}

.rightPart li a {
    line-height: 30px;
    height: 30px;
}

.fa-angle-down {
    margin-left: 1px;
}

.rightPart .line {
    margin: 0 8px;
    font-size: 8px;
    line-height: 30px;
}

.red {
    color: #ff0000;
}

.fly {
    display: inline-block;
    height: 30px;
    padding: 0 5px;
    border-top: #e3e4e5 1px solid;
    border-left: #e3e4e5 1px solid;
    border-right: #e3e4e5 1px solid;
}

nav a:hover {
    color: #ff0000;
}

/* 设置下拉菜单 */
/* 下拉块的统一格式 */
.list {
    border: #74747442 1px solid;
    border-top: none;
    position: absolute;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2 2px #74747442;
    display: none;
    z-index: 99;
}

/* 定位下拉 */
.downList01 {
    width: 320px;
}

.leftPart:hover {
    background-color: #fff;
    border-top: #74747442 1px solid;
    border-left: #74747442 1px solid;
    border-right: #74747442 1px solid;
    box-shadow: 0 2 2px #74747442;
}

.leftPart:hover .downList01 {
    display: block;
}

/* 我的京东下拉 */
.downList02 {
    width: 280px;
}

.rightPart li:nth-child(3):hover .downList02 {
    display: block;
}

.rightPart li:nth-child(3):hover .fly {
    background-color: #fff;
    border-top: #74747442 1px solid;
    border-left: #74747442 1px solid;
    border-right: #74747442 1px solid;
    box-shadow: 0 2 2px #74747442;
}

/* 企业采购下拉 */
.downList03 {
    width: 150px;
}

.rightPart li:nth-child(5):hover .downList03 {
    display: block;
}

.rightPart li:nth-child(5):hover .fly {
    background-color: #fff;
    border-top: #74747442 1px solid;
    border-left: #74747442 1px solid;
    border-right: #74747442 1px solid;
    box-shadow: 0 2 2px #74747442;
}

/* 客户服务下拉 */
.downList04 {
    width: 170px;
}

.rightPart li:nth-child(6):hover .downList04 {
    display: block;
}

.rightPart li:nth-child(6):hover .fly {
    background-color: #fff;
    border-top: #74747442 1px solid;
    border-left: #74747442 1px solid;
    border-right: #74747442 1px solid;
    box-shadow: 0 2 2px #74747442;
}

/* 网站导航下拉 */
.downList05 {
    width: 990px;
    top: 31px;
}

.rightPart li:nth-child(7):hover .downList05 {
    display: block;
}

.rightPart li:nth-child(7):hover .fly {
    background-color: #fff;
    border-top: #74747442 1px solid;
    border-left: #74747442 1px solid;
    border-right: #74747442 1px solid;
    box-shadow: 0 2 2px #74747442;
}

/* 下拉栏里面的内容 */
/* 定位下拉栏 */
.downList01 table {
    width: 100%;
}

.downList01 table td {
    width: 20%;
    text-align: left;
    padding: 0 5px;
}

.downList01 table a {
    padding: 5px;
}

.downList01 table a:hover {
    background-color: #ececece0;
}

/* 我的京东下拉栏 */
.downList02 table {
    width: 100%;
}

.downList02 table td {
    width: 50%;
    padding-left: 12px;
}

.downList02 {
    padding: 8px 0;
}

.downList02 hr {
    background-color: #f1efef0a;
    background-size: 1px;
}

/* 企业采购下拉栏 */
.downList03 table {
    width: 100%;
}

.downList03 table tr td:first-child {
    width: 45%;
    padding-left: 10px;
}

/* 客服服务 */
.downList04 table {
    width: 100%;
}

.downList04 table tr {
    width: 50%;
}

.downList04 table td {
    padding-left: 12px;
}

.downList04 table tr:first-child {
    text-align: left;
    font-weight: bold;
    color: #1f1e1ee1;
}

/* 网站导航 */
.downList05 table {
    width: 100%;
}

.downList05 table tr td:nth-child(4),
.downList05 table tr td:nth-child(6),
.downList05 table tr td:nth-child(8) {
    border-left: #99999936 1px solid;
}

.downList05 table tr td {
    padding-left: 16px;
}

.downList05 table tr:first-child {
    font-weight: bold;
    color: #1f1e1ee1;
}

/* 导航条下的搜索框 */
.box1 {
    height: 141px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.box1 nav {
    height: 100%;
}

.imgBox {
    width: 190px;
    height: 100%;
    overflow: hidden;
    text-align: center;
    line-height: 141px;
}

.box1 img {
    height: 65%;
}

.search {
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
}

.search .searchBox {
    float: left;
    padding-top: 27px;
    margin-left: 220px;
    width: 490px;
}

.search .searchBox i {
    font-size: 15px;
    color: #fff;
}

.search input {
    width: 414px;
    height: 30px;
    border: #ff251b 2px solid;
    padding-left: 12px;
}

.search .searchBox button {

    width: 58px;
    height: 34px;
    background-color: #ff251b;
}

.myCartBox {
    width: 132px;
    padding-top: 26px;
    float: left;

}

.myCart {
    border: #c4c4c460 1px solid;
    margin-left: 15px;
    padding: 9px 16px;
}

.myCart i {
    font-size: 16px;
    color: #ff251b;
}

.myCart a {
    font-size: 12px;
    line-height: 12px;
    color: #ff251b;
}

/* 搜索框下的热词 */
.hotWord {
    width: 450px;
    height: 20px;
    position: absolute;
    top: 65px;
    left: 220px;
}

.hotWord ul li {
    float: left;
    padding-right: 12px;
    line-height: 20px;
}

.hotWord ul li a {
    font-size: 12px;
    color: #999;
}

.hotWord ul li a:hover {
    color: #ff0000;
}

/* 搜索框下的项目 */
.hotItem {
    width: 750px;
    height: 40px;
    position: absolute;
    top: 81px;
    left: 210px;
    padding-top: 20px;
}

.hotItem ul li {
    float: left;
    margin: 11px;
}

.hotItem ul li a {
    font-size: 15px;
    color: #333;
}

.hotItem ul li:nth-child(1) a,
.hotItem ul li:nth-child(2) a {
    color: #e1251b;
    font-weight: bold;
}

.hotItem ul li a:hover {
    color: #e1251b;
}

/* 商品主体部分 */
.box2 {
    width: 990px;
    margin: 10px auto;
}

.box2::after {
    content: '';
    height: 0;
    clear: both;
    overflow: hidden;
    display: block;
    visibility: hidden;
}

.leftNav {
    width: 190px;
    /* height: 500px; */
    background-color: #fff;
    float: left;
    margin-right: 10px;
    padding: 10px 0;
}

.leftNav li {
    height: 25px;
    padding-left: 18px;
    font-size: 14px;
    line-height: 25px;

    /* position: relative; */
}

.leftNav li > div { 
    /* 中间轮播图部分随左边导航条的hover改变 */
    width: 800px;
    height: 470px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 16px;
    box-shadow: 0 0 4px #666;
    /* background-color: red; */
    position: absolute;
    /* position: sticky; */
    left: 190px;
    top: 0;
    z-index: 999;
    display: none;
}

.leftNav li:hover > div {
    /* 中间轮播图部分随左边导航条的hover改变 */
    display: block;
}

.leftNav li > div div {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
    /* hover里面的左边部分的导航条 */
.leftNav li > div .items {
    width: 580px;
    height: 100%;
    /* background-color: brown; */
}

    /* hover里面的右边部分的图片 */
.leftNav li > div .img {
    width: 168px;
    height: 450px;
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* justify-content:flex-start; */
    justify-content:center;
    align-items: center;
}

.leftNav li > div .img > div:first-child {
    /* 图片那里的上面第一个框 */
    /* width: 100%; */
    width: 168px;
    /* height: 144px; */
    /* background-color: burlywood; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.leftNav li > div .img > div:first-child div {
    width: 49%;
    margin-bottom: 3px;
    /* height: 24%; */
    height: 35px;
    background-color: #e7e7e7;
}

.leftNav li > div .img > div:first-child a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.leftNav li > div .img > div:first-child img {
    /* 设置图片大小 */
    width: 100%;
    height:100%;
}

.leftNav li > div .img > div:nth-child(2),
.leftNav li > div .img > div:nth-child(3) {
    /* 下边部分的图片 */
    margin-bottom: 5px;
    /* width: 100%; */
    align-self: flex-start;
    width: 168px;
    /* height: 134px; */

    /* background-color: darkblue; */
}
.leftNav li > div .img > div:nth-child(2) a,
.leftNav li > div .img > div:nth-child(3) a {
    display: inline-block;
    height: 100%;
    width: 100%;
}
.leftNav li > div .img > div:nth-child(2) img,
.leftNav li > div .img > div:nth-child(3) img {
    width: 100%;
}

.leftNav li a {
    color: #333;
}

.leftNav li a:hover {
    color: #e1251b;
}

.leftNav li:hover {
    background-color: #ddd8d8;
}

.leftNav li span {
    padding: 2px;
    font-size: 12px;
}

.middleImg {
    width: 590px;
    float: left;
    margin-right: 10px;
    position: relative;
}

.rightInfor {
    width: 190px;
    height: 470px;
    background-color: #fff;
    float: left;
}

/* 中间的轮播图部分 */
.middleImg .fas {
    font-size: 20px;
    color: #ffffffcc;
}

.middleImg .last,
.middleImg .next {
    width: 25px;
    height: 33px;
    background-color: #00000026;
    padding-top: 3px;
    line-height: 35px;
    position: absolute;
    top: 45%;
    text-align: center;
    z-index: 99;
}

.middleImg .next {
    right: 0;
    border-radius: 50% 0 0 50%;
}

.middleImg .last {
    left: 0;
    border-radius: 0 50% 50% 0;
}

.middleImg img {
    width: 100%;
    /* height: 100%; */
}

.changeImg {
    /* width: 113px; */
    height: 15px;
    /* background-color: darkgreen; */
    position: relative;
    top: -35px;
    left: 30px;
}

.changeImg li {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    padding: 3px;
    float: left;
}

.changeImg li:hover {
    background-color: #ffffff66;
}

.changeImg li:hover div {
    background-color: #ffffff;
}

.changeImg div {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #ffffff66;
    margin-right: 4px;
}

.changeImg .changeStyle {
    background-color: #ffffff66;
}

.changeImg .changeStyle div {
    background-color: #ffffff;
}

/* 设置右边个人信息栏 */
.userInfor {
    padding: 18px;
}

.userInfor img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.low1 {
    margin-top: 2px;
    padding: 0 5px;
    float: right;
    line-height: 18px;
}

.low1 a:first-child {
    font-size: 12px;
    color: #666;
}


.low1 a:nth-child(3),
.low1 span:nth-child(4),
.low1 a:nth-child(5) {
    font-size: 12px;
    color: #333;
}

.low1 a:hover {
    color: #c81623;
}

.low2 {
    text-align: center;
    padding: 0 4px;
    height: 25px;
}

.low2 a {
    display: inline-block;
    margin: 0 5px;
    width: 70px;
    text-align: center;
    border-radius: 13px;
    line-height: 25px;
    font-size: 12px;
}

.low2 :first-child {
    background-color: #e1251b;
    color: #fff;
}

.low2 :last-child {
    background-color: #363634;
    color: #e5d790;
}

.low3 {
    height: 1px;
    width: 100px;
    margin: 8px auto 0;
    border-bottom: 1px solid #8685853b;
}

.low4 {
    margin: 12px;
    margin-bottom: 8px;
}

.low4 ul li:first-child a {
    float: right;
    display: block;
}

.low4 li {
    vertical-align: middle;
    max-width: 160px;
    height: 16px;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-bottom: 10px;
}

.low4 li span,
.low4 li a {
    /* line-height: 16px; */
    font-size: 12px;
}

.low4 li span {
    color: #e1251b;
    padding: 3px;
    background-color: #e1251b14;
    vertical-align: middle;
}

.low4 li a {
    line-height: 19px;
    color: #666;
}

.low4 li a:hover {
    color: #e1251b;
}

.rightInfor .low4 li:first-child span {
    font-size: 14px;
    background-color: #fff;
    font-weight: bold;
    color: #333;
}


.low5 table {
    width: 100%;
    text-align: center;
    height: 190px;
}

.low5 a img {
    width: 28px;
}

.low5 a {
    font-size: 12px;
    color: #333;
}

.rightInfor .second {
    margin-bottom: 8px;
}

/* 
    网页底部
*/
.w {
    /* padding-top: 120px; */
    width: 990px;
    margin: 0 auto;
}

.footerBox1 {
    margin-top: 50px;
    display: flex;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    justify-content: space-between;
}

footer {
    /* display: flex; */
    flex-direction: column;
}
.footerBox2 {
    margin-top: 20px;
    padding: 20px 0;
    border-bottom: 1px solid rgba(148, 148, 148, 0.377);
    border-top: 1px solid rgba(148, 148, 148, 0.377);
}
.footerBox2 table {
    width: 100%;
}
.footerBox2 table tr:first-child {
    font-size: 14px;
    font-weight: bold;
}

.footerBox2 table td {
    vertical-align: middle;
    padding: 5px;
    width: 15%;
}
.footerBox2 table td a{
    /* text-decoration: none; */
    color: #666;
}
.footerBox2 table td a:hover {
    color: rgb(244, 155, 96);
}
.footerBox2 p {
    line-height: 20px;
}

.footerBox3 {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.footerBox3 a {
    color: #666;
}
.footerBox3 a:hover {
    color: rgb(244, 155, 96);
}
.footerBox3 span {
    color: rgba(163, 163, 163, 0.459);
}

/* 右边导航条（会固定的那个） */

#middleNav {
    margin: 0 auto;
    width: 58px;
    float: right;
    background-color: brown;
}
#middleNav ul {
    display: flex;
    width: 58px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#middleNav ul li {
    width: 58px;
    height: 60px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}

#middleNav ul li img {
    width: 58px;
}
#middleNav ul li a {
    color: #333;
}
#middleNav a span {
    display: block;
    padding: 14px;
    line-height: 16px;
    font-size: 14px;
}
#middleNav li > span {
    display: block;
    height: 1px;
    border-top: 1px #3a3a3a23 solid;
    width: 40%;
}

#middleNav li:hover,
#middleNav li:hover a {
    background-color: red;
    color: white;
}

/* 图片的hover切换 */
#middleNav li:nth-of-type(2) {
    background-image: url(https://m.360buyimg.com/babel/jfs/t1/191225/14/3653/82058/60a22426E3c6de321/23855df379936f7c.gif);
    background-size: 100%;
}

#middleNav li:nth-of-type(2):hover {
    background-image: url(https://m.360buyimg.com/babel/jfs/t1/185771/11/4518/11978/60a2242bE18384c57/4e62bc7055cccb9c.jpg);
}
.mianLine {
    position: sticky;
    top: 10%;
    width: 1140px;
    margin: 0 auto;
    background-color: darkblue;
}
.mianLine #middleNav i.fas {
    display: block;
    margin-top: 12px;
}

/*
 *   商品的主体部分
 */                              

.mainBody {
    /* padding-bottom: 120px; */
    width: 990px;
    margin: 0 auto;
}
.mainBody nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mainBody nav .m-flex {
    padding: 16px 0;
    width: 990px;
    display: flex;
    justify-content: space-between;
}
.mainBody nav h3 {
    font-size: 28px;
    color: #333;
    font-weight: bold;
}
.mainBody nav .m-flex h4 ,
.max-v .goods-2{
    display: inline-block;
    padding: 20px 20px 10px;
    font-size: 18px;
    font-weight: bold;
}
.mainBody nav .m-flex > div {
    /* border: 1px solid #333; */
    background-color: #fff;
    width: 24%;
}
.mainBody nav .m-flex h4 span {
    font-size: 12px;
    font-weight: normal;
}
.mainBody .goods,
.goods-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 20px;
}

.goods img ,
.max-v .goods-2 img {
    width: 75px;
}
.max-v {
    margin-top: 25px;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    /* background-color: blueviolet; */
    justify-content: space-between;
}
.max-v a {
    width: 100%;
}
.max-v a img {
    width: 100%;
}
.goods-2 a img {
    margin-left: 20px;
}
.max-v > div {
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.max-v .goods-2 {
    background-color: #fff;

}
.max-v .goods-2 a {
    display: inline-block;
    /* display: flex; */
    flex-direction: row;
    width: 48%;
    height: 48%;
    /* padding: 0px; */
    margin: 0 auto;
    margin-bottom: 10px;
    /* margin-left: 10px; */
}
.goods-2 h4 {
    display: block;
    padding-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
}
.goods-2 h4 span {
    font-size: 12px;
    font-weight: normal;
}


/* 
    为你推荐下面的导航条
*/
.max-w {
    padding-top: 16px;
    display: flex;
    width: 990px;
    flex-direction: column;
}
.max-w-nav {
    margin-bottom: 12px;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #fff;
    justify-content: space-evenly;
    align-items: center;
}
.max-w-nav > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.max-w-nav > div a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}
.max-w-nav > div a:hover div {
    color: red;
}
.max-w-nav > div div:first-child {
    /* padding: 0 13px; */
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
.max-w-nav > div div:last-child {
    font-size: 14px;
    color: #999;
    line-height: 16px;
}
.max-w-nav > div:nth-child(2n + 1) {
    width: 16%;
    background-color: #fff;
    height: 100%;
}
.max-w-nav > div:nth-child(2n) {
    height: 30%;
    width: 1px;
    border-left: 1px solid rgba(0, 0, 0, 0.13);
}

/* 
    为你推荐下面的商品
*/
.goods-3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: coral; */
}
.goods-3 > div {
    width: 19%;
    height: 266px;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 16px;
    background-color: #fff;

}
.goods-3 > div a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content:space-evenly;
    flex-direction: column;
}
.goods-3 > div a > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.goods-3 > div a img {
    width: 120px;
}
.goods-3 > div div:nth-child(1) {
    margin-bottom: 12px;
}
.goods-3 > div div:nth-child(2) {
    font-size: 12px;
    line-height: 16px;
    color: #666;
    margin-bottom: 10px;
}
.goods-3 > div div:nth-child(3) {
    font-weight: bold;
    color: red;
    align-self: flex-start;
}

/* 
    记得删除，弄着好玩的
*/
#nb {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    /* height: 100%; */
    padding-top: 100px;
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
}
